# Expire header
<IfModule mod_expires.c>
 <filesMatch "\.(ico|jpg|jpeg|png|gif)$">
 ExpiresActive on
 ExpiresDefault "access plus 1 year"
 </filesMatch>
</IfModule>
# End Expire header

# cache busting!
<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^(.+)\.(\d+)\.(js|css|png|jpg|gif)$ $1.$3 [L]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /blog/index.php [L]
</IfModule>

# END WordPress

